QSplitter::handle {
  background-color: aqua;
}
QSplitter::handle:horizontal {
  width: 5px;
}
QSplitter::handle:vertical {
  height: 5px;
}
QToolButton[type="collapse"] {
  background-color: transparent;
  border: none;
}
